#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

.book,
.join {
    background-color: #5e9ca0; /* Example - use your site plan colors */
}

.book:hover,
.join:hover {
    background-color: #3b6d71;
}

#background {
    background-color: #d0e7f9;
}

.msg {
    background-color: #fff;
}

footer {
    background-color: #2b2b2b;
}
nav a {
    color: #fcfbfb;
}

nav a:hover {
    color: #d9c2a3;
}

.home-title,
h4,
.msg h2,
.msg p,
footer,
footer a,
footer a:hover {
    color: #fff; /* Choose colors from your palette */
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}
